:root {
    --primary-color: #33658A;
    --secondary-color: #F6AE2D;
    --tertiary-color: #DAEAF3;
    --quaternary-color: #F26419;
    --quinary-color: #2F4858;
    --senary-color: #86BBD8;
    /* Below are unused colors. They exist as placehodlers. */
    --septenary-color: #000000;
    --octonary-color: #000000;
    --nonary-color: #000000;
    --denary-color: #000000;
  }
  